* {
    font-family: 'pokemon-font';
}

ion-content {
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}
