ion-grid {

    ion-progress-bar {
        --progress-background: #09c567;
    }

    width: 100%;
    border: 1px solid #23e7afa2;
    

    ion-row:nth-child(-n + 2) {

        
        height: 35vh;

        ion-col{
            border: 1px solid #23e7afa2;
        }

    }

    ion-row:last-child {

        
        height: 20vh;

        .game_text{
            text-align: center;
            font-size: 1.7rem;
        }

        ion-col{
            text-align: center;
            border: 1px solid #23e7afa2;
        }

    }

    ion-col {
        font-size: 2rem;
        text-align: center;
        background-color: #121212;
        border: 1px solid #9b3939;

    }

    ion-row {
        background-color: #121212;
    }

    .poke1_container, .poke2_container {
        img {
            width: 15rem;
        }
    }

    .atack_container{
        text-align: center;
        cursor: pointer;

        p {
            font-size: 1.5rem;
            margin: 5rem 0 0 0 ;
        }
    }

    .atack_container:hover {
        p {
            font-size: 2rem
        };
    }
}

.ps_container {
    display: flex;

    h3 {
        margin: 1rem 1rem 0 0;
    }

    .ps_bar_container{
        margin: 1.7rem 0 0 0;
    }

}