ion-grid {
    width: 100%;
    border: 1px solid #23e7afa2;
    

    ion-row:nth-child(-n + 2) {

        
        height: 35vh;

        ion-col{
            border: 1px solid #23e7afa2;
        }

    }

    ion-row:last-child {

        
        height: 20vh;

        .game_text{
            text-align: center;
            font-size: 1.7rem;
        }

        ion-col{
            text-align: center;
            border: 1px solid #23e7afa2;
        }

    }

    ion-col {
        font-size: 2rem;
        text-align: center;
        background-color: #121212;
        border: 1px solid #9b3939;

    }

    ion-row {
        background-color: #121212;
    }
}