<ion-content [fullscreen]="true">

  <div class="global-container">

    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="poke1_container">

          </div>
          <div class="poke2_container">

          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">
          <!-- texto de lo q este pasando en el combate -->

        level: {{ level_number }}
          
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>
