ion-content {
    text-align: center;

    ion-button {
        margin-top: 1rem;
        width: 90%;
        background-color: #121212;
        color: white;
        font-size: 1.5rem;
    }
}

ion-grid{
    width: 90%;
    background-color: #121212;
    
    
    ion-col {
        font-size: 2rem;
        text-align: center;
        background-color: #121212;

    }
}

ion-list{
    background-color: #121212;
    width: 90%;
    height: 93%;
    margin: 0 auto;

    ion-item {
        border: rgb(43, 43, 43) 3px solid;
        background-color: #121212;
        height: 8rem;

        ion-label{
            background-color: #121212;
            font-size: 1.5rem;  
        }
    }

    .pokemon_img {

        img{
            width: 25%;
        }
    }
}