<ion-content [fullscreen]="true">

  <div class="level_container">
    <ion-grid>
      <!-- row de niveles -->
      <ion-row>
        <ion-col>
          <div class="level_circle">
            <ion-button expand="block" class="level_buttons" shape="round" (click)="openModal(1)">
              1
            </ion-button>
          </div>
        </ion-col>
        <ion-col>
          <div class="level_circle">
            <ion-button expand="block" class="level_buttons" shape="round" (click)="openModal(2)">
              2
            </ion-button>
          </div>
        </ion-col>
        <ion-col>
          <div class="level_circle">
            <ion-button expand="block" class="level_buttons" shape="round" (click)="openModal(3)">
              3
            </ion-button>
          </div>
        </ion-col>
        <ion-col>
          <div class="level_circle">
            <ion-button expand="block" class="level_buttons" shape="round" (click)="openModal(4)">
              4
            </ion-button>
          </div>
        </ion-col>
        <ion-col>
          <div class="level_circle">
            <ion-button expand="block" class="level_buttons" shape="round" (click)="openModal(5)">
              5
            </ion-button>
          </div>
        </ion-col>

      </ion-row>

  </ion-grid>
  </div>

</ion-content>
