<ion-content [fullscreen]="true">

  <h1>ELIGE UNO DE LOS NIVELES PARA JUGAR</h1>

  <div class="level_container">
    <ion-grid>
      <!-- row de niveles -->
      <ion-row>
        <ion-col>
          <div class="level_circle">
            <ion-button expand="block" color="danger" fill="outline" class="level_buttons" shape="round" (click)="openModal(1)">
              <p>1</p>
            </ion-button>
          </div>
        </ion-col>
        <ion-col>
          <div class="level_circle">
            <ion-button expand="block" color="danger" fill="outline" class="level_buttons" shape="round" (click)="openModal(2)">
              <p>2</p>
            </ion-button>
          </div>
        </ion-col>
        <ion-col>
          <div class="level_circle">
            <ion-button expand="block" color="danger" fill="outline" class="level_buttons" shape="round" (click)="openModal(3)">
              <p>3</p>
            </ion-button>
          </div>
        </ion-col>
        <ion-col>
          <div class="level_circle">
            <ion-button expand="block" color="danger" fill="outline" class="level_buttons" shape="round" (click)="openModal(4)">
              <p>4</p>
            </ion-button>
          </div>
        </ion-col>
        <ion-col>
          <div class="level_circle">
            <ion-button expand="block" color="danger" fill="outline" class="level_buttons" shape="round" (click)="openModal(5)">
              <p>5</p>
            </ion-button>
          </div>
        </ion-col>

      </ion-row>

  </ion-grid>
  </div>

</ion-content>
